:root {
    --www-coral-by-arial-narrow-font-family: "Arial", Helvetica;
    --www-coral-by-arial-narrow-font-weight: 400;
    --www-coral-by-arial-narrow-font-size: 16px;
    --www-coral-by-arial-narrow-letter-spacing: 0px;
    --www-coral-by-arial-narrow-line-height: 38px;
    --www-coral-by-arial-narrow-font-style: normal;
    --www-coral-by-manrope-medium-font-family: "Manrope", Helvetica;
    --www-coral-by-manrope-medium-font-weight: 500;
    --www-coral-by-manrope-medium-font-size: 16px;
    --www-coral-by-manrope-medium-letter-spacing: 0px;
    --www-coral-by-manrope-medium-line-height: 22px;
    --www-coral-by-manrope-medium-font-style: normal;
    --www-coral-by-manrope-regular-font-family: "Manrope", Helvetica;
    --www-coral-by-manrope-regular-font-weight: 400;
    --www-coral-by-manrope-regular-font-size: 12px;
    --www-coral-by-manrope-regular-letter-spacing: 0px;
    --www-coral-by-manrope-regular-line-height: 16px;
    --www-coral-by-manrope-regular-font-style: normal;
    --www-coral-by-manrope-regular-underline-font-family: "Manrope", Helvetica;
    --www-coral-by-manrope-regular-underline-font-weight: 400;
    --www-coral-by-manrope-regular-underline-font-size: 12px;
    --www-coral-by-manrope-regular-underline-letter-spacing: 0px;
    --www-coral-by-manrope-regular-underline-line-height: normal;
    --www-coral-by-manrope-regular-underline-font-style: normal;
    --www-coral-by-manrope-semibold-font-family: "Manrope", Helvetica;
    --www-coral-by-manrope-semibold-font-weight: 600;
    --www-coral-by-manrope-semibold-font-size: 20px;
    --www-coral-by-manrope-semibold-letter-spacing: 0px;
    --www-coral-by-manrope-semibold-line-height: 28px;
    --www-coral-by-manrope-semibold-font-style: normal;
    --www-coral-by-manrope-light-font-family: "Manrope", Helvetica;
    --www-coral-by-manrope-light-font-weight: 300;
    --www-coral-by-manrope-light-font-size: 48px;
    --www-coral-by-manrope-light-letter-spacing: 0px;
    --www-coral-by-manrope-light-line-height: 50px;
    --www-coral-by-manrope-light-font-style: normal;
    --www-coral-by-semantic-input-font-family: "Manrope", Helvetica;
    --www-coral-by-semantic-input-font-weight: 400;
    --www-coral-by-semantic-input-font-size: 16px;
    --www-coral-by-semantic-input-letter-spacing: 0px;
    --www-coral-by-semantic-input-line-height: normal;
    --www-coral-by-semantic-input-font-style: normal;
    --www-coral-by-semantic-strong-font-family: "Manrope", Helvetica;
    --www-coral-by-semantic-strong-font-weight: 700;
    --www-coral-by-semantic-strong-font-size: 12px;
    --www-coral-by-semantic-strong-letter-spacing: 0px;
    --www-coral-by-semantic-strong-line-height: 16.5px;
    --www-coral-by-semantic-strong-font-style: normal;
    --www-coral-by-semantic-button-font-family: "Arial", Helvetica;
    --www-coral-by-semantic-button-font-weight: 700;
    --www-coral-by-semantic-button-font-size: 14px;
    --www-coral-by-semantic-button-letter-spacing: 0px;
    --www-coral-by-semantic-button-line-height: 22px;
    --www-coral-by-semantic-button-font-style: normal;
    --www-coral-by-semantic-heading-3-font-family: "Manrope", Helvetica;
    --www-coral-by-semantic-heading-3-font-weight: 600;
    --www-coral-by-semantic-heading-3-font-size: 20px;
    --www-coral-by-semantic-heading-3-letter-spacing: 0px;
    --www-coral-by-semantic-heading-3-line-height: 26px;
    --www-coral-by-semantic-heading-3-font-style: normal;
    --www-coral-by-semantic-heading-2-font-family: "Manrope", Helvetica;
    --www-coral-by-semantic-heading-2-font-weight: 600;
    --www-coral-by-semantic-heading-2-font-size: 28px;
    --www-coral-by-semantic-heading-2-letter-spacing: 0px;
    --www-coral-by-semantic-heading-2-line-height: 38px;
    --www-coral-by-semantic-heading-2-font-style: normal;
    --www-coral-by-semantic-heading-5-font-family: "Manrope", Helvetica;
    --www-coral-by-semantic-heading-5-font-weight: 600;
    --www-coral-by-semantic-heading-5-font-size: 16px;
    --www-coral-by-semantic-heading-5-letter-spacing: 0px;
    --www-coral-by-semantic-heading-5-line-height: 24px;
    --www-coral-by-semantic-heading-5-font-style: normal;
    --www-coral-by-semantic-link-font-family: "Manrope", Helvetica;
    --www-coral-by-semantic-link-font-weight: 600;
    --www-coral-by-semantic-link-font-size: 20px;
    --www-coral-by-semantic-link-letter-spacing: 0px;
    --www-coral-by-semantic-link-line-height: 27.5px;
    --www-coral-by-semantic-link-font-style: normal;
    --www-coral-by-semantic-link-strikethrough-font-family: "Manrope", Helvetica;
    --www-coral-by-semantic-link-strikethrough-font-weight: 400;
    --www-coral-by-semantic-link-strikethrough-font-size: 14px;
    --www-coral-by-semantic-link-strikethrough-letter-spacing: 0px;
    --www-coral-by-semantic-link-strikethrough-line-height: 22px;
    --www-coral-by-semantic-link-strikethrough-font-style: normal;
    --www-coral-by-verdana-regular-font-family: "Verdana", Helvetica;
    --www-coral-by-verdana-regular-font-weight: 400;
    --www-coral-by-verdana-regular-font-size: 11px;
    --www-coral-by-verdana-regular-letter-spacing: 0px;
    --www-coral-by-verdana-regular-line-height: 14px;
    --www-coral-by-verdana-regular-font-style: normal;
    --www-coral-by-verdana-regular-underline-font-family: "Verdana", Helvetica;
    --www-coral-by-verdana-regular-underline-font-weight: 400;
    --www-coral-by-verdana-regular-underline-font-size: 11px;
    --www-coral-by-verdana-regular-underline-letter-spacing: 0px;
    --www-coral-by-verdana-regular-underline-line-height: 14px;
    --www-coral-by-verdana-regular-underline-font-style: normal;
    --body-text-font-family: "Inter", Helvetica;
    --body-text-font-weight: 500;
    --body-text-font-size: 20px;
    --body-text-letter-spacing: 0px;
    --body-text-line-height: 150%;
    --body-text-font-style: normal;
    --small-text-font-family: "Inter", Helvetica;
    --small-text-font-weight: 500;
    --small-text-font-size: 16px;
    --small-text-letter-spacing: 0px;
    --small-text-line-height: 150%;
    --small-text-font-style: normal;
    --single-line-body-base-font-family: "Inter", Helvetica;
    --single-line-body-base-font-weight: 400;
    --single-line-body-base-font-size: 16px;
    --single-line-body-base-letter-spacing: 0px;
    --single-line-body-base-line-height: 100%;
    --single-line-body-base-font-style: normal;
    --subheading-font-family: "Inter", Helvetica;
    --subheading-font-weight: 400;
    --subheading-font-size: 24px;
    --subheading-letter-spacing: 0px;
    --subheading-line-height: 150%;
    --subheading-font-style: normal;
    --button-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  }
  